* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

header {
  display: flex;
  align-items: flex-start;
  background-image: url("images/image_geometry_1.png");
  background-repeat: no-repeat;
  width: 111px;
  height: 74px;
}
.container-box {
  display:flex;
  justify-content: center;
  width: 320px;
  height: auto; 

}

.menu-ham {
  display: flex;
  padding-top: 19px;
  padding-left: 284px;
}

.name {
  display: flex;
  margin-left: 16px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-family: 'Playfair Display', sans-serif;
  font-size: 50px;
  font-weight: 400px;
  line-height: 50px;
  color: #1a2236;
  stroke: black 1px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 288px;
  height: 336px;
}

p {
  margin-top: 16px;
  margin-bottom: 20px;
}

.intro-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #1a2236;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-align: left;
}

.start-collab-box {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 288px;
  height: 50px;
  left: 16px;
  top: 390px;
  background: #1a2236;
  margin-top: 40px;
  margin-bottom: 32.31px;
  margin-left: 16px;
  margin-right: 16px;
  justify-content: center;
}

button {
  flex: 1;
  height: auto;
  font-family: 'Poppins', serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
  background-color: #1a2236;
  border: 0;
  color: white;
  text-align: center;
  align-items: center;
  align-content: center;
}
  
.art {
  background-image: url("images/rectangle-section-1.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  vertical-align: bottom;
  width: 320px;
  height: 160px;
}
.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr, 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

}
h2 {
  display: flex;
  margin-left: 16px;
  margin-top: 30px;
  margin-bottom: 32px;
  font-family: 'Playfair Display', sans-serif;
  font-size: 50px;
  font-weight: 500px;
  line-height: 50px;
  color: #1a2236;
  stroke: black 1px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
}

h3 {
  font-family: Poppins, serif;
  color: #fff;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  padding-top: 1rem;
  padding-left: 20px;
}
.skills-box{
  width: 320px;
  height: 156px;
  background-color: #1a2236;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
 
}

.project-name{
  font-family: 'Poppins', serif ;
  font-size: 20px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin-top: 16px;
}
.project-btn{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    border: 1px solid #FFFFFF;
    width: 174px;
    height: 44px;
    justify-content: center;
   

}
.button-project{
  color:#1a2236;
  margin-top: 10px;
  background: #98DEDE;
  width: 74px;
  height: 20px; 
  font-family: 'Poppins', serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 8px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 20px;
}

h4 {
display: flex;
margin-left: 16px;
margin-bottom: 20px;
margin-top: 30px;
font-family: 'Playfair Display', sans-serif;
font-size: 50px;
font-weight: 400px;
line-height: 50px;
color: #1a2236;
stroke: black 1px;
text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
text-align: left;
}

.about-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #1a2236;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-align: left;
}